<header class="main__header">
    <h1>Inventario</h1>
    <p>Visualiza el inventario por galpón.</p>
</header>

<section class="total__diario inventory__summary">
    <h3>Total por tamaño</h3>
    <ul id="inventory-results" class="inventory__result">
        <li>B: 0</li>
        <li>A: 0</li>
        <li>AA: 0</li>
        <li>AAA: 0</li>
    </ul>
    <p id="inventory-feedback" class="inventory__feedback"></p>
</section>

<form class="inventory__form">
    <label>Cambia el galpon</label>
    <select name="galpon" id="galpon-select">
        <option value="primeras">Primeras</option>
        <option value="segundas">Segundas</option>
        <option value="terceras">Terceras</option>
    </select>
</form>

<div id="inventory-table-container">
    
</div>